.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
*{
  box-sizing: border-box;
}
html, body {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

img{
  width: 200px;
  height: 300px;
  object-fit: contain;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: darkgray;
}
.App main{
  flex-grow: 1;
}

@media (min-width: 800px) {
  html{
    font-size: 120%;
  }  
}

